# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: D:\E_Drive\Plant_disease\Plant-Disease-Detection-and-Classification-System\Plant-Disease-Detection-main\PlantCare-MongoDB\data

systemLog:
  destination: file
  logAppend: true
  path: D:\E_Drive\Plant_disease\Plant-Disease-Detection-and-Classification-System\Plant-Disease-Detection-main\PlantCare-MongoDB\log\mongod.log

net:
  port: 27018
  bindIp: 127.0.0.1
#processManagement:

#security:

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options:

#auditLog:
